<%= bootstrap_form_for(@debt_collector) do |f| %>
  <%= f.text_field :apynom %>

  <h3><strong>Datos del usuario web</strong></h3>
  <%= f.fields_for(:user) do |ff|%>
    <%= ff.hidden_field :id %>
    <%= ff.email_field :email %>
    <%= ff.password_field :password, label: 'Contraseña' %>
    <%= ff.password_field :password_confirmation, label: 'Confirmar contraseña' %>
    <%= ff.hidden_field :role, value:  'cobrador' %>
  <% end %>
  <h3><strong>Datos del usuario de la app</strong></h3>
  <%= f.fields_for(:app_user) do |ff|%>
    <%= ff.hidden_field :id %>
    <%= ff.text_field :username, label: 'Nombre de usuario (puede no ser un email)' %>
    <%= ff.password_field :password, label: 'Contraseña' %>
  <% end %>
  <%= f.submit "Guardar", class: 'btn btn-primary' %>
<% end %>
