<h1>Editar cobrador</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<br>

<%=  link_to 'Atrás', debt_collectors_path, class: 'btn btn-default' %>