<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Cobradores</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
          Listado de cobradores
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        <%= link_to 'Nuevo cobrador', new_debt_collector_path, class: 'btn btn-primary', style: 'margin-bottom:1em' %>
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
          <thead>
            <tr>
              <th>Cobrador nro</th>
              <th>Nombre y apellido</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <% @debt_collectors.each do |collector| %>
              <tr class="odd gradeX">
                <td><%= collector.id %></td>
                <td><%= collector.apynom %></td>
                <td><a href="<%= edit_debt_collector_path(collector) %>" class="btn glyphicon glyphicon-edit"></a></td>
                <td><%= link_to '', collector, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn glyphicon glyphicon-remove glyphicon glyphicon-plus" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Nuevo cobrador', new_debt_collector_path, class: 'btn btn-primary' %>
