<%= bootstrap_form_for(@service) do |f| %>
  <%= f.hidden_field :id %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <% if @service.persisted? %>
      <a data-toggle="modal" data-target="#modalbaja" id="baja-servicio" class="btn btn-danger pull-right" style="margin-right: 2em;margin-top: 2em">Dar de baja</a>
    <% end %>
    <div class="col-md-6">
      <div class="page-header">
        <h5 class="center">Datos </h5>
      </div>
      <%= f.date_field :fecha %>
      <%= f.select :service_type_id, ServiceType.all.collect {|d| [d.nombre, d.id]}, prompt: 'Seleccionar', label: 'Tipo de servicio', selected: (@service.service_type.id if @service.service_type) %>

      <label for="customer_id">Cliente no seleccionado</label> 
      <br>
      <a class="btn btn-default btn-sm" data-toggle="modal" data-target="#modal">Seleccionar cliente</a>
      <%= f.hidden_field :customer_id %>
      <br>
      <br>
      <%= f.number_field :monto, value: @service.monto, step: :any, disabled: @service.hay_pagos_hechos? %>
      <%= f.number_field :interes, value: @service.interes.to_f * 100, step: :any, disabled: @service.hay_pagos_hechos? %>
      <%= f.text_field 'monto_total', value: @service.monto_total, name: 'monto_total' %>
      <%= f.text_field :descripcion %>
      <%= f.text_field :comentarios %>
      <div class="form-group">
        <label for="">Última cuota</label>
        <% value = @service.fees.last ? @service.fees.last.vencimiento : nil %>
        <%= date_field 'fecha_fin_servicio', 'laal', class: 'form-control', disabled: true, value: value %>
      </div>

    </div>
    <div class="col-md-6">
      <div class="page-header">
          <h5 class="center">Forma de pago</h5>
      </div>
      <div class="form-group">
        <label for="fees_params[periodo_pago]">Periodo de pago</label>
        <% def_value = (params[:fees_params][:periodo_pago] if params[:fees_params]) || @service.periodo_pago %>
        <% options = options_for_select(Service::PERIODOS_PAGOS.map { |e| [e.capitalize, e]}, def_value) %>
        <%= select_tag("fees_params[periodo_pago]", options, 
            class: 'form-control', value: def_value) %>
      </div>
      <div class="form-group">
        <label for="cantidad_cuotas">Cantidad de cuotas</label>
        <input id="cantidad_cuotas" data-service-pagado="<%= @service.hay_pagos_hechos? %>" 
         name="cantidad_cuotas" type="number" class="form-control" value="<%= @service.fees.count %>">
      </div>
      <div class="row cuotas">
        <% @service.fees.each do |fee| %>
          <div class="col-md-6">
            <label for="fees_params[fees][][nro_cuota]">Cuota nro</label>
            <input name="fees_params[fees][][nro_cuota]" type="number" class="form-control" value="<%= fee.nro %>"> 
          </div> 
          <div class="col-md-6"> 
            <label for="fees_params[fees][][monto]">Monto</label>
            <input name="fees_params[fees][][monto]" type="number" class="form-control" value="<%= fee.monto %>">
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <%= f.submit "Guardar", class: 'btn-primary btn' %>

<% end %>

<div id="modalbaja" class="modal fade" role="dialog">

  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Dar de baja servicio</h4>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <label for="" class="label-control">Comentarios sobre la baja</label>
            <textarea  class="form-control" id="comentarios-baja" rows="3">
            </textarea>
            <br>
            <button id="confirmar-baja" class="btn btn-danger">Confirmar</button>
          </div>          
        </div>
      </div>

    </div>
  </div>
</div>
<div id="modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Búsqueda de cliente</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" name="search" id="search" placeholder="Nombre, apellido, dirección" class="form-control">
        </div>
        <br>
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
                <tr>
                  <th>Nombre y apellido</th>
                  <th>Dirección</th>
                  <th>Cobrador</th>
                  <th>Selecc.</th>
                </tr>
            </thead>
            <tbody class="clientes">
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(function() {
    <% if (@service.hay_pagos_hechos?) %>
      $('#fees_params_periodo_pago').prop('disabled', 'disabled');
    <% end %>
  });
</script>