<div class="container">
  <div class="row">
  <h2 class="text-center">INGRESE SU DNI</h2>

  <%= bootstrap_form_tag(url: only_customers_services_path, method: :get) do |f| %>
    <%= f.hidden_field :token, value: params[:token] %>
    <%= f.text_field :dni %>
  <% end %>
  
  <% if notice %>
    <div class="alert alert-warning">
      <h5><%= notice %></h5>  
    </div>
  <% end %>
  

  <% if @services.present? && @services.any? %>
    <div class="row">
        <div class="col-lg-6 col-md-4">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i>Servicios prestados</i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><%= @customer.services.count %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i>Cuotas pendientes</i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><%= @customer.cantidad_cuotas_pendientes %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-4">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i>Adeudado</i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge"><%= @customer.adeudado %></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h3 class="text-center">Listado de servicios prestados</h3>

    <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
      <thead>
        <tr>
          <th width="50px">Nro servicio</th>
          <th width="70px">Fecha</th>
          <th>Descripcion</th>
          <th>Monto</th>
          <th width="50px">Cuotas pagas</th>
          <th>Pagado</th>
          <th>Adeudado</th>
        </tr>
      </thead>

      <tbody>
        <% @services.to_a.sort {|x,y| y.adeudado <=> x.adeudado  }.each do |service| %>
          <tr class="odd gradeX">
            <td><%= service.id %></td>
            <td><%= service.fecha %></td>
            <td><%= service.descripcion %></td>
            <% pagado = service.pagado %>
            <td><h4><span class="label label-default"><%= service.monto_total %></span></h4></td>
            <td><h4><span ><%= service.cantidad_cuotas_pagas %></span></h4></td>
            <td><h4><span class="label label-success"><%= pagado %></span></h4></td>
            <td><h4><span class="label label-danger"><%= service.adeudado %></span></h4></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</div>  
</div>