<%= notice %>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
          Listado de servicios
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <% if current_user.cobrador? == false %>
            <%= link_to 'Nuevo servicio', new_service_path, class: 'btn btn-primary', style: 'margin-bottom:1em' %>
            <%= link_to 'Mostrar servicios dados de baja', services_path(dados_de_baja: true), class: 'btn btn-danger pull-right', style: 'margin-bottom:1em' %>
          <% end %>

          <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
              <tr>
                <th>Nro servicio</th>
                <th>Fecha</th>
                <th>Fecha ult. cuota</th>
                <th>Cliente</th>
                <th>Descripcion</th>
                <th>Monto</th>
                <th>Pagado</th>
                <th>Adeudado</th>
                <th>Pago</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @services.to_a.sort {|x,y| y.adeudado <=> x.adeudado  }.each do |service| %>
                <tr class="odd gradeX">
                  <td><%= service.id %></td>
                  <td><%= service.fecha %></td>
                  <td><%= service.fees.order(:nro => :asc).last.vencimiento %></td>
                  <td><%= service.customer %></td>
                  <td><%= service.descripcion %></td>
                  <% pagado = service.pagado %>
                  <td><h4><span class="label label-default"><%= service.monto %></span></h4></td>
                  <td><h4><span class="label label-success"><%= pagado %></span></h4></td>
                  <td><h4><span class="label label-danger"><%= service.adeudado %></span></h4></td>
                  <% sgte_cuota = service.cuota_pendiente_actual %>
                  <td>
                    <% if sgte_cuota && service.baja == false  %>
                      <%= link_to "Pago", new_fee_payment_path(params: {fee_id: sgte_cuota.id}), class: 'btn btn-success'%>
                    <% end %>
                  </td>
                  <td>
                    <a href="<%= service_path(service) %>" class="btn glyphicon glyphicon-eye-open"></a>
                  </td>
                  <td>
                    <% if service.baja == false %>
                      <a href="<%= edit_service_path(service) %>" class="btn glyphicon glyphicon-edit"></a>
                    <% end %>
                  </td>
                  <td>
                  <% if current_user.cobrador? == false %>
                    <%= link_to '', service, method: :delete, data: { confirm: 'Dar de baja el servicio?' }, class: "btn glyphicon glyphicon-remove glyphicon glyphicon-plus" %>
                  <% end %>
                    </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
<% if current_user.cobrador? == false %>
  <%= link_to 'Nuevo servicio', new_service_path, class: 'btn btn-primary' %>
<% end %>
<br>

