<div class="row">
  <h3>Reportes</h3>
  <%= bootstrap_form_tag(resource: 'services', action: 'reportes', method: :get) do |f|%>
    <div class="col-md-12">
      <%= f.hidden_field :excel, value: 'true' %>
      <%= f.number_field 'nro_servicio', step: :any, label: 'Número de servicio' %>
      <%= f.date_field 'desde', label: 'Desde' %>
      <%= f.date_field 'hasta', label: 'Hasta' %>
      <%= f.select 'cobrador_id', DebtCollector.where(company_id: current_user.company_id).collect {|d| [d.apynom, d.id]}, prompt: 'Seleccionar', label: 'Cobrador', selected: params[:cobrador_id] %>

      <%= f.select 'service_type_id', ServiceType.all.collect {|d| [d.nombre, d.id]}, prompt: 'Seleccionar', label: 'Tipos de servicio', selected: params[:cobrador_id] %>
  
      <%= f.submit 'Generar reporte', class: 'btn-primary btn col-md-12' %>
    </div>
  <% end %>
</div>