<br>
<br>
<div class="row">
    <div class="col-lg-4 col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i>Monto</i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= @service.monto_total %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="panel panel-green">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i>Pagado</i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= @service.pagado %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-6">
        <div class="panel panel-red">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i>Adeudado</i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= @service.adeudado %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" style="height: 100%;">
    <div class="panel panel-default">
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#datos">Datos</a></li>
            <li><a data-toggle="tab" href="#cuotas">Cuotas</a></li>
        </ul>
        <div class="tab-content">
            <div id="datos" class="tab-pane fade active in">
                <div class="panel-body">
                    <p>
                    <strong>Nro servicio:</strong>
                    <%= @service.id %>
                    </p>
                    <p>
                      <strong>Fecha:</strong>
                      <%= @service.fecha %>
                    </p>

                    <p>
                      <strong>Monto base:</strong>
                      <%= @service.monto %>
                    </p>

                    <p>
                      <strong>Monto total:</strong>
                      <%= @service.monto %>
                    </p>


                    <p>
                      <strong>Cantidad de cuotas:</strong>
                      <%= @service.fees.count %>
                    </p>

                    <p>
                      <strong>Interés:</strong>
                      <%= @service.interes %>%
                    </p>

                    <p>
                      <strong>Cliente:</strong>
                      <%= @service.customer %>
                    </p>

                    <p>
                      <strong>Periodo de pago:</strong>
                      <%= @service.periodo_pago.capitalize %>
                    </p>


                    <p>
                      <strong>Descripcion:</strong>
                      <%= @service.descripcion %>
                    </p>

                    <p>
                      <strong>Comentarios:</strong>
                      <%= @service.comentarios %>
                    </p>
                </div>
            </div>
            <div id="cuotas" class="tab-pane fade">
                <table width="100%" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <td>Cuota nro</td>
                            <td>Cuota establ.</td>
                            <td>Cuota vari.</td>
                            <td>Vencimiento</td>
                            <td>Fecha pago</td>
                            <td>Hora pago</td>
                            <td>Pagado</td>
                            <td>Saldo +</td>
                            <td>Comentario pago</td>
                            <td>Pago</td>
                        </tr>                
                    </thead>
                    <tbody>
                        <% @service.fees.each do |fee|%>
                            <tr class="<%= "danger" if fee.vencimiento < Date.today %>">
                                <td><%= fee.nro %></td>
                                <td><%= fee.monto_establecido.round(2) %></td>
                                <td><%= fee.monto.round(2) %></td>
                                <td><%= fee.vencimiento %></td>
                                <td><%= fee.fechas_pagos %></td>
                                <td><%= fee.horas_pagos %></td>
                                <td><%= fee.pagado.round(2) %></td>
                                <td><%= (fee.monto_establecido - fee.monto).round(2) %></td>
                                <td><%= fee.comentarios_pagos %></td>
                                <% sgte_cuota = @service.cuota_pendiente_actual %>
                                <td>
                                    <% if fee == sgte_cuota && @service.baja == false  %>
                                            <%= link_to "Pago", new_fee_payment_path(params: {fee_id: fee.id}), class: 'btn btn-success'%>
                                    <% end %>
                                    <% if sgte_cuota and (sgte_cuota.nro  - 1 == fee.nro) and fee.fee_payments.last   %>
                                      <%= link_to "Editar pago", edit_fee_payment_path(fee.fee_payments.last), class: 'btn btn-success'%>

                                    <% end %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                <%= link_to 'Bajar planilla de pagos', planilla_de_pagos_path(@service.id), class: 'btn btn-success', style: 'width: 100%' %>
                    
            </div>
        </div>
    </div>
</div>
<% if current_user.cobrador? == false && @service.baja == false  %>
    <%= link_to 'Editar', edit_service_path(@service), class: 'btn btn-primary' %> 
<% end %>
<p></p>
<%= link_to 'Atrás', services_path, class: 'btn btn-default' %>
