<div class="row" style="padding-top: 3em">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <div class="row">
                    <div class="col-xs-3">
                        <i>Total adeudado</i>
                    </div>
                    <div class="col-xs-9 text-right">
                        <div class="huge"><%= Service.includes(:customer).where(customers: {company_id: current_user.company_id}).map(&:adeudado).inject(0, &:+) %></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% if @services_alertas && @services_alertas.any? %>
    <div class="panel panel-default">
        <div class="panel-heading">
          <b>Servicios con 3 cuotas o más vencidas</b>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

          <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
              <tr>
                <th>Nro servicio</th>
                <th>Fecha</th>
                <th>Cliente</th>
                <th>Descripcion</th>
                <th>Monto</th>
                <th>Cant. cuot. venc.</th>
                <th>Pagado</th>
                <th>Adeudado</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @services_alertas.to_a.sort {|x,y| y.adeudado <=> x.adeudado  }.each do |service| %>
                <tr class="odd gradeX">
                  <td><%= service.id %></td>
                  <td><%= service.fecha %></td>
                  <td><%= service.customer %></td>
                  <td><%= service.descripcion %></td>
                  <% pagado = service.pagado %>
                  <td><h4><span class="label label-default"><%= service.monto_total %></span></h4></td>
                  <td><%= service.cantidad_cuotas_vencidas %></td>
                  <td><h4><span class="label label-success"><%= pagado %></span></h4></td>
                  <td><h4><span class="label label-danger"><%= service.adeudado %></span></h4></td>
                  <td>
                    <a href="<%= service_path(service) %>" class="btn glyphicon glyphicon-eye-open"></a>
                  </td>
                  <td>
                    <% if pagado.zero? %>
                      <a href="<%= edit_service_path(service) %>" class="btn glyphicon glyphicon-edit"></a>
                    <% end %>
                  </td>
                  <td>
                  <% if current_user.cobrador? == false && service.hay_pagos_hechos? == false %>
                    <%= link_to '', service, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn glyphicon glyphicon-remove glyphicon glyphicon-plus" %>
                  <% end %>
                    </td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
<% end %>