<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Tipos de servicios</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
          Listado de tipos de servicios
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

          <%= link_to 'Nuevo tipo de servicio', new_service_type_path, class: 'btn btn-primary', style: 'margin-bottom:1em' %>
          <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
             <thead>
              <tr>
                <th>Nombre</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @service_types.each do |service_type|  %>
                <tr class="odd gradeX">
                  <td><%= service_type.nombre %></td>
                  <td>
                    <a href="<%= service_type_path(service_type) %>" class="btn glyphicon glyphicon-eye-open"></a>
                  </td>
                  <td>
                    <a href="<%= edit_service_type_path(service_type) %>" class="btn glyphicon glyphicon-edit"></a>
                  </td>
                  <td><%= link_to '', service_type, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn glyphicon glyphicon-remove glyphicon glyphicon-plus" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Nuevo tipo de servicio', new_service_type_path, class: 'btn btn-primary' %>


