<%= bootstrap_form_for(@fee_payment, novalidate: 'novalidate') do |f| %>
  <div class="form-group">
    <label class="control-label" for="servicio">Servicio</label>
    <input class="form-control" type="text" disabled value="<%= @fee_payment.fee.service%>">
  </div>
  <div class="form-group">
    <label class="control-label" for="nro_cuota">Cuota nro</label>
    <input class="form-control" type="number" disabled value="<%= @fee_payment.fee.nro %>">
  </div>
  <%= f.hidden_field :fee_id %>
  <%= f.number_field :monto,  value: @fee_payment.fee.saldo.to_s, step: :any %>
  <%= f.date_field :fecha_pago, value: Date.today %>
  <% disabled = current_user.cobrador? %>
  <%= f.select :debt_collector_id, options_from_collection_for_select(DebtCollector.all, :id, :apynom, @fee_payment.fee.service.customer.debt_collector_id), {}, disabled: disabled %>
  <%= f.text_area :comentarios, rows: 3 %>
  <a href="#" id="guardar" class="btn btn-primary">Guardar</a>
<% end %>

<script>
  $(document).ready(function() {
    $(document).on('click', '#guardar', function(event) {
      var monto = parseFloat($('#fee_payment_monto').val());
      if (monto <= 0) {
        alert('Ingrese un monto válido');
      } else {
        $('#new_fee_payment').submit();
        $('.edit_fee_payment').submit();
      }
    });
  });
</script>