<h1>Nuevo pago</h1>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'form' %>
  </div>
</div>

<br>
<%= link_to 'Back', service_path(@fee_payment.fee.service), class: 'btn btn-default' %>