<% if @customer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

    <ul>
    <% @customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= bootstrap_form_for(@customer, html: { multipart: true } ) do |f| %>
  <%= f.text_field :nombre_completo %>
  <%= f.text_field :dni %>
  <%= f.text_field :telefono %>
  <%= f.text_field :otro_telefono %>
  <%= f.select :debt_collector_id, DebtCollector.where(company_id: current_user.company_id).collect {|d| [d.apynom, d.id]}, prompt: 'Seleccionar', label: 'Cobrador', selected: @customer.debt_collector_id %>
  <%= f.text_field :direccion %>
  <%= f.text_field :referencia %>
  <%= f.text_area :comentarios, rows: 5 %>
  
  
  <input type="file" name="customer[customer_images_attributes][][image]">

  <br>
  <%= f.submit "Guardar", class: 'btn-primary btn' %>
<% end %>

