<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Clientes</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
          Listado de clientes
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

          <%= link_to 'Nuevo cliente', new_customer_path, class: 'btn btn-primary', style: 'margin-bottom:1em' %>
          <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
              <tr role="row">
                <th>Nro cliente</th>
                <th>Nombre completo</th>
                <th>Dni</th>
                <th>Telefono</th>
                <th>Direccion</th>
                <th>Cobrador</th>
                <th>Deuda</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>

            <tbody>
              <% @customers.sort {|x,y| y.adeudado <=> x.adeudado }.each do |customer| %>
                <tr class="odd gradeX" role="row">
                  <td><%= customer.id %></td>
                  <td><%= customer.nombre_completo %></td>
                  <td><%= customer.dni %></td>
                  <td><%= customer.telefono %></td>
                  <td><%= customer.direccion %></td>
                  <td><%= customer.debt_collector %></td>
                  <td><%= customer.adeudado %></td>

                  <td>
                    <a href="<%= customer_path(customer) %>" class="btn glyphicon glyphicon-eye-open"></a>
                  </td>
                  <td>
                    <a href="<%= edit_customer_path(customer) %>" class="btn glyphicon glyphicon-edit"></a>
                  </td>
                  <td><%= link_to '', customer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn glyphicon glyphicon-remove glyphicon glyphicon-plus" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Nuevo cliente', new_customer_path, class: 'btn btn-primary' %>