<div class="panel panel-default">
  <div class="panel-body">
    <ul class="nav nav-tabs">
      <li class="active">
        <a href="#datos" data-toggle="tab" aria-expanded="true">Datos</a>
      </li>
      <li>
        <a href="#servicios" data-toggle="tab" aria-expanded="true">Servicios prestados</a>
      </li>
      <li>
        <a href="#estadocuenta" data-toggle="tab" aria-expanded="true">Estado de cuenta</a>
      </li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fade active in" id="datos">
        <br>
        <p>
          <strong>Nro cliente:</strong>
          <%= @customer.id %>
        </p>
   
        <p>
          <strong>Dni:</strong>
          <%= @customer.dni %>
        </p>

        <p>
          <strong>Nombre completo:</strong>
          <%= @customer.nombre_completo %>
        </p>

        <p>
          <strong>Dirección:</strong>
          <a target="_blank" href="https://www.google.com.ar/maps/place/<%= @customer.direccion %>"><%= @customer.direccion %></a>
          
        </p>

        <p>
          <strong>Cobrador:</strong>
          <%= @customer.debt_collector %>
        </p>

     
        <p>
          <strong>Telefono:</strong>
          <%= @customer.telefono %>
        </p>

        <p>
          <strong>Otro telefono:</strong>
          <%= @customer.otro_telefono %>
        </p>

        <p>
          <strong>Referencia:</strong>
          <%= @customer.referencia %>
        </p>

        <p>
          <strong>Comentarios:</strong>
          <%= @customer.comentarios %>
        </p>


        <h4>Imagenes cargadas</h4>

        <% @customer.customer_images.each do |ci| %>
          <a href="<%= ci.image.url(:medium) %>">
            <%= image_tag ci.image.url(:medium), width: '100px', higth: '100px', class: 'imagen-customer' %>
          </a>
        <% end %>
        <br>
        <br>


        <%= link_to 'Editar', edit_customer_path(@customer), class: 'btn btn-primary' %> 
        <p></p>
        <%= link_to 'Atrás', customers_path, class: 'btn btn-default' %>        
      </div>
      <div class="tab-pane fade" id="servicios">
         <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
              <tr role="row">
                <th>Nro</th>
                <th>Fecha</th>
                <th>Descripcion</th>
                <th>Monto</th>
                <th>Pagado</th>
                <th>Adeudado</th>
              </tr>
            </thead>

            <tbody>
              <% @customer.services.to_a.sort {|x,y| y.adeudado <=> x.adeudado }.each do |service| %>
                <tr class="odd gradeX" role="row">
                  <td><%= service.id %></td>
                  <td><%= service.fecha %></td>
                  <td><%= service.descripcion %></td>
                  <td><h4><span class="label label-default"><%= service.monto_total %></span></h4></td>
                  <td><h4><span class="label label-success"><%= service.pagado %></span></h4></td>
                  <td><h4><span class="label label-danger"><%= service.adeudado %></span></h4></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
      <div class="tab-pane fade" id="estadocuenta">
        <br>
        <br>
        <div class="row">
            <div class="col-lg-6 col-md-4">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i>Servicios prestados</i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"><%= @customer.services.count %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-4">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i>Cuotas pendientes</i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"><%= @customer.cantidad_cuotas_pendientes %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-4">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i>Adeudado</i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge"><%= @customer.adeudado %></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>


    </div>
  </div>
</div>