<%= flash[:error] %>
<%= bootstrap_form_for(@company, html: {role: 'form'}) do |f| %>

  <%= f.text_field :nombre, class: 'form-control' %>

  <h3>Datos del primer usuario</h3>
  <%= f.fields_for @user do |ff| %>
    <%= ff.hidden_field :id %>
    <%= ff.email_field :email %>
    <%= ff.password_field :password, label: 'Contraseña' %>
    <%= ff.password_field :password_confirmation, label: 'Confirmar contraseña' %>
  <% end %>
  
    <%= f.submit "Guardar", class: 'btn btn-primary' %>
<% end %>
