<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Compañias</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            Listado de compañias activas
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
        <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
          <thead>
            <tr>
              <th>Nombre</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @companies.each do |company| %>
              <tr class="odd gradeX">
                <td><%= company.nombre %></td>
                <td><a href="<%= edit_company_path(company) %>" class="btn glyphicon glyphicon-edit"></a></td>
                <td><%= link_to '', company, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn glyphicon glyphicon-remove glyphicon glyphicon-plus" %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Nueva compañia', new_company_path, class: 'btn btn-primary' %>
