<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Please Sign In</h3>
                </div>
                <div class="panel-body">
                    <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                  
                        <fieldset>
                            <%= f.email_field :email, autofocus: true, placeholder: 'Email' %>
                            <%= f.password_field :password, value: "", placeholder: 'Contraseña' %>
                            <% if devise_mapping.rememberable? -%>
                              <%= f.check_box :remember_me %>
                            <% end %>
                            <!-- Change this to a button or input when using this as a form -->
                          <%= f.submit "Iniciar sesión" %>  
                        </fieldset>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>