<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Zonas</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
          Listado de zonas
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

          <%= link_to 'Nueva zona', new_zone_path, class: 'btn btn-primary', style: 'margin-bottom:1em' %>
          <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
              <tr>
                <th>Nombre</th>
            
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @zones.each do |zone| %>
                <tr class="odd gradeX">
                  <td><%= zone.nombre %></td>
                  <td>
                    <a href="<%= zone_path(zone) %>" class="btn glyphicon glyphicon-eye-open"></a>
                  </td>
                  <td>
                    <a href="<%= edit_zone_path(zone) %>" class="btn glyphicon glyphicon-edit"></a>
                  </td>
                  <td><%= link_to '', zone, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn glyphicon glyphicon-remove glyphicon glyphicon-plus" %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Nueva zona', new_zone_path, class: 'btn btn-primary' %>


