<%= bootstrap_form_tag(url: '/usuarios',  method: :post) do |f| %>
  <%= f.text_field :email %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>
  <% if current_user.admin? %>
    <%= f.hidden_field :role, value: "admin" %>
  <% else %>
    <%= f.hidden_field :role, value: "admin_compania" %>
    <%= f.hidden_field :company_id, value: current_user.company_id %>
  <% end %>

  <%= f.submit "Guardar", class: 'btn btn-primary' %>
<% end %>
