<div class="row">
  <div class="col-lg-12">
      <h1 class="page-header">Usuarios</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
          Usuarios
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

          <%= link_to 'Nuevo usuario', new_usuario_path, class: 'btn btn-primary', style: 'margin-bottom:1em' %>
          <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
             <thead>
              <tr>
                <th>Email</th>
                <th>Compañia</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @users.each do |usuario|  %>
                <tr class="odd gradeX">
                  <td><%= usuario.email %></td>
                  <td><%= usuario.company %></td>
                  <% if current_user != usuario %>
                    <td>
                      <a href="<%= edit_usuario_path(usuario) %>" class="btn glyphicon glyphicon-edit"></a>
                    </td>
                    <td><%= link_to '', usuario_path(usuario), method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn glyphicon glyphicon-remove glyphicon glyphicon-plus" %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Nuevo usuario', new_usuario_path, class: 'btn btn-primary' %>


