/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require bootstrap_sb_admin_base_v2
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self

 */


@media (min-width: 568px) {

  .sidebar {
    z-index: 1;
    position: absolute;
    width: 150px;
    margin-top: 51px;
  }

  /* line 112, /home/emanuel/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/bootstrap_sb_admin_base_v2-0.3.6/vendor/assets/stylesheets/sb-admin-2/sb-admin-2.scss */
  .navbar-top-links .dropdown-messages,
  .navbar-top-links .dropdown-tasks,
  .navbar-top-links .dropdown-alerts {
    margin-left: auto;
  }
}

@media (min-width: 968px) {
  /* line 18, /home/emanuel/.rbenv/versions/2.3.1/lib/ruby/gems/2.3.0/gems/bootstrap_sb_admin_base_v2-0.3.6/vendor/assets/stylesheets/sb-admin-2/sb-admin-2.scss */
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 150px;
    padding: 0 30px;
    border-left: 1px solid #e7e7e7;
  }
}