<!DOCTYPE html>
<html>
<head>
  <title>Cobranzas</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application'%>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="wrapper">
  <%  if user_signed_in? %>
      <%= render partial: 'navigation_links' %>
      <div id="page-wrapper">
        <%= yield %>
      </div>
  <% else %>
    <%= yield %>
  <% end %>

</div>

</body>
</html>
